/*pour le fond de carte*/
#map {position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;}



/* Style de base pour la popup */
.popup {
  position: absolute;
  background-color: red;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Oswald', Helvetica, sans-serif;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  top: -35%; /* Position verticale à 50% */
  left: 50%; /* Position horizontale à 50% */
  transform: translate(-50%, -50%); /* Centrage */
}

/* Pointe de la popup */
.popup::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red; /* Utilisez border-top au lieu de border-bottom */
  top: calc(100% - 0px); /* Ajustez la position verticale pour qu'elle soit juste au-dessus de la popup */
  left: 50%; /* assurez-vous que c'est centré horizontalement */
  transform: translateX(-50%);
  z-index: -1; /* attribuez un z-index inférieur à la popup */
}















/* style liste deroulante */
.dropbtn {
background-color: #f2a11f;
color: white;
padding: 10px 100px;
font-size: 20px;
border-radius: 5px;
border: none;
}

/*couleur de fond lorsque l'on passe sur la liste deroulante*/
.dropbtn:hover, .dropbtn:focus {
background-color: #b57205;
}

/*position de la popup menu deroulant*/
.dropdown {
position: absolute;
top: 230px; /* Align to the top with 20px offset */
left: 21px; /* Align to the left with 20px offset */
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
left: 0; /* Align to the left */
}

/* noms des hopitaux dans la box */
.dropdown-content a {
color: black;
padding: 12px 56px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f2a11f;}

/* Show the dropdown menu (use JS to add this class to the dropdown-content container when the user clicks on the button) */
.show {display:block;}







.dropdown {
          position: fixed; /* Position fixe sur la page */
          top: 5 300px; /* Ajustez cette valeur selon votre mise en page */
          left: 22px; /* Ajustez cette valeur selon votre mise en page */
      }

      .dropdown-content {
          display: none;
          background-color: #f1f1f1;
          min-width: 160px;
          max-height: 500px; /* Hauteur maximale de la liste déroulante */
          overflow-y: auto; /* Activer la barre de défilement vertical si nécessaire */
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
      }

      .dropdown-content a {
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
      }

      .dropdown-content a:hover {
          background-color: #ddd;
      }

      .show {
          display: block;
      }
