/*pour le fond de carte*/
#map {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
}

.absolute fl my24 mx24 py24 px24 bg-gray-faint round {
  width : 250px;
}


/* Style de base pour la popup */
.popup {
  position: absolute;
  background-color: #f2a11f;
  border-radius: 10px;
  padding: 10px;
  margin : 10px;
  width: 150px;
  box-shadow: 0 0 10px rgba(105, 105, 105, 0.5); /* Ombre */
  z-index: 1;
  top: -100%; /* Position verticale à 50% */
  left: 0%; /* Position horizontale à 50% */
  transform: translate(-50%, -50%); /* Centrage */
  opacity : 0.9;
}

.popup h3{
  font: 13px 'Montserrat', Arial, Helvetica, sans-serif;
  text-align : center;
  font-weight : bold;
  color : rgb(255, 255, 255);
  margin : 5px;
}

.popup p{
  font: 10px 'Montserrat', Arial, Helvetica, sans-serif;
  margin : 5px;
  color : white;
}

/* Pointe de la popup */
.popup::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f2a11f; /* Utilisez border-top au lieu de border-bottom */
  top: calc(100% - 0px); /* Ajustez la position verticale pour qu'elle soit juste au-dessus de la popup */
  left: 50%; /* assurez-vous que c'est centré horizontalement */
  transform: translateX(-50%);
  z-index: -1; /* attribuez un z-index inférieur à la popup */
  opacity : 0.9;
}

/* style liste deroulante */
.dropbtn {
  background-color: #f2a11f;
  color: white;
  padding: 5px 5px;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  width : 220px;
  text-align: center;
}

/*couleur de fond lorsque l'on passe sur la liste deroulante*/
.dropbtn:hover, .dropbtn:focus {
  background-color: #b57205;
}

/*position de la popup menu deroulant*/
.dropdown {
  position: absolute;
  top: 0; 
  left: 100%;
}

.dropdown-container {
  position: relative;
}

/* Liste déroulante */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  max-height: 200px; /* Hauteur maximale de la liste déroulante */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0; /* Align to the left */
  width : 290px;
  overflow-y: auto; /* Ajouter une barre de défilement verticale si nécessaire */
  text-align : left;
}

/* noms des smur dans la liste déroulante */
.dropdown-content a {
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  margin-left : 15px;
  margin-right : 15px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f2a11f;
}

/* Show the dropdown menu (use JS to add this class to the dropdown-content container when the user clicks on the button) */
.show {
  display:block;
}

/* style liste deroulante */
.droplist {
  background-color: #f2a11f;
  color: white;
  padding: 5px 5px;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  width : 220px;
  text-align: center;
}

/*couleur de fond lorsque l'on passe sur la liste deroulante*/
.droplist:hover, .droplist:focus {
  background-color: #b57205;
}

/*position de la popup menu deroulant*/
#layerList-container {
  position: relative;
}

#layerListContent {
  position: absolute;
  left: 0; /* Align to the left */
  background-color: white;
  max-height: 150px; /* Hauteur maximale de la liste déroulante */
  overflow-y: auto; /* Ajouter une barre de défilement verticale si nécessaire */
  font-size: 12px;
  width : 220px;
  text-align : left;
  margin-left : 15px;
  margin-right : 15px;
}

/* Liste déroulante */
.hiddenList {
  display: none;
  position: absolute;
  background-color: white;
  max-height: 120px; /* Hauteur maximale de la liste déroulante */
  width : 290px;
}

/* noms des smur dans la liste déroulante */
.hiddenList a {
  padding: 10px 10px;
  text-decoration: none;
  font: 9px 'Montserrat', Arial, Helvetica, sans-serif;
  display: block;
}

/* Change color of dropdown links on hover */
.hiddenList a:hover {
  background-color: #f2a11f;
}

/* Show the dropdown menu (use JS to add this class to the dropdown-content container when the user clicks on the button) */
.show2 {
  display:block;
}

.config-panel{
  position: absolute; 
  font: 14px 'Montserrat', Arial, Helvetica, sans-serif;
  top: 50px; 
  box-shadow:0 10px 15px rgba(0, 0, 0, 0.10);
  right: 10px; 
  border-radius: 8px;
  width : 240px;
  color:#6b6b6b; 
  background-color: white; 
  padding: 10px; 
}

#isochrone-time-select{
  color:#6b6b6b;
  border-color: white;
}

/*Définition de la fenetre du menu*/
.menu {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  background-color: white ;
  border-right: 2px solid #f2a221;
  transition: left 0.3s ease;
  overflow-x: hidden;
  z-index: 1000;
  padding-top: 10px;
  
}

/*Gestion du titre du menu*/
.titre-menu {
  padding: 5px 5px;
  color: #f2a221;
  font-weight: bolder;
}

/*Définition des bontons de fermeture et d'ouverture du menu */
.openbtn {
  cursor: pointer;
  padding: 10px 10px;
  border: none;
  position: fixed;
  background-color: transparent;
  top: 0px;
  left: 20px;
  width: 60px; /* Largeur du bouton */
  height: 60px; /* Hauteur du bouton */
  transition: left 0.3s ease;
}
.menu .closebtn {
  position: absolute;
  top: 15px;
  right: 20px;
  margin-left: 50px;
  width: 40px; /* Largeur du bouton */
  height: 40px; /* Hauteur du bouton */
  transition: left 0.3s ease;
}

/* Style des traits des boutons d'ouvrir et fermeture du menu*/
#menu-icon span{
  height:2px;
  background: #f2a221;
  margin-bottom:5px;
  display:block;
}
#menu-icon span:nth-child(2){
  width:75%;
}
#menu-icon span:nth-child(3){
  width:50%;
}

/*Gestion de tout les élements du menu(définition d'une police commune)*/
.menu-items {
  text-align: center;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color:#6b6b6b; 
}
/*Gestion des titres des élements du menu*/
.menu-items h4 { 
  padding: 5px 40px;
  font-size: 14px;
  font-weight: bold;
}

/*Gestion des titres des élements du menu*/
.menu-items h1 {
  font-size: 12px;
  font-weight: bold;
}
.menu-items h2 {
  font-size: 12px;
  font-weight: bold;
}
/*Gestion des barres qui sépare les groupe d'élements*/
.menu-items h5 {
  color: #f2a221;
  size: 2px;
}
/*Gestion de la petite barre qui sépare 2 élements du meme groupe*/
.menu-items h6 {
  color: #f2a221;
  position: center;
  margin-top: -8px;
}

/*Définition du style des boutons standards pour les options de calcul du SMUR*/
.toggle {
  background-color: none ; 
  text-align: center;
  cursor: pointer;
  padding: 5px;
}
/* Style des boutons quand ils sont sélectionnés*/
input[type="radio"]:checked + .toggle {
  background-color: #f2a221; 
  padding-bottom: -10px
}